{% extends 'base.html.twig' %}

{% block title %}
    Gas Stations
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block body %}
    <div id="filters">
        <div id="panel">
            <div class="menu-list">

                <div class="ui form">
                    <div class="field">
                        <label for="gas_types">Types de carburants</label>
                        <select multiple="multiple" id="gas_types" class="ui search dropdown">
                            {% for gas_type in gas_types %}
                                <option value="{{ gas_type.id }}">{{ gas_type.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="ui form">
                    <div class="field">
                        <label for="gas_services">Types de services</label>
                        <select multiple="multiple" id="gas_services" class="ui search dropdown">
                            {% for gas_service in gas_services %}
                                <option value="{{ gas_service.label }}">{{ gas_service.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="ui form">
                    <div class="field">
                        <label for="gas_stations_cities">Liste des villes</label>
                        <select multiple="multiple" id="gas_stations_cities" class="ui search dropdown">
                            {% for gas_stations_city in gas_stations_cities %}
                                <option value="{{ gas_stations_city.postalCode }}">{{ gas_stations_city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="ui form">
                    <div class="field">
                        <label for="gas_stations_departments">Liste des départements</label>
                        <select multiple="multiple" id="gas_stations_departments" class="ui search dropdown">
                            {% for gas_stations_department in gas_stations_departments %}
                                <option value="{{ gas_stations_department.code }}">{{ gas_stations_department.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="ui form" id="reset">
                    <button class="ui google plus button">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="gas_stations"></div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script  type="application/javascript">

        var filters = {'gas_services': null, 'gas_types': null, 'gas_stations_cities': null, 'gas_stations_departments': null}
        var coordinate = {'latitude': 48.855680, 'longitude': 2.347045, 'radius': 5000}
        var markers = {}

        function closeGasStation () {
            $('.gas_station_popup').css('display', 'none')
        }

        function getGasStations(latitude, longitude, radius) {
            var lowPrices = {}

            $.get({
                url: '{{ path('ajax_gas_stations') }}',
                type: 'GET',
                async: true,
                data: {
                    'latitude': latitude,
                    'longitude': longitude,
                    'radius': radius,
                    'filters': filters
                },
                success: function (elements, statut) {

                    group.clearLayers()

                    $('.gas_station_popup').remove()

                    $.each(elements, function(index, element) {
                        lastGasPrices = JSON.parse(element.last_gas_prices)
                        previousGasPrices = JSON.parse(element.previous_gas_prices)

                        closeGasStation()

                        $.each(lastGasPrices, function(index, lastGasPrice) {
                            var gasTypeId = lastGasPrice.gas_type_id
                            if (lowPrices.hasOwnProperty(gasTypeId)) {
                                if (lastGasPrice['price'] <= lowPrices[gasTypeId]['gasPriceValue']) {
                                    lowPrices[gasTypeId] = {'gasStationId' : element.gas_station_id, 'gasPriceId' : lastGasPrice.id, 'gasPriceValue': lastGasPrice.price}
                                }
                            } else {
                                lowPrices[gasTypeId] = {'gasStationId' : element.gas_station_id, 'gasPriceId' : lastGasPrice.id, 'gasPriceValue': lastGasPrice.price}
                            }
                        })

                        markers[element.gas_station_id] = L.marker([parseFloat(element.latitude), parseFloat(element.longitude)], {icon: normal}).addTo(group).on('click', function(e) {
                            closeGasStation()
                            $('#' + element.gas_station_id).css('display', 'block')
                        })

                        $('#app_gas_stations').append(element['content'])
                        closeGasStation()
                    })

                    $.each(lowPrices, function(index, lowPrice) {
                        marker = markers[lowPrice.gasStationId]
                        if (marker) {
                            marker.setIcon(low)
                            marker.setZIndexOffset(100)
                        }
                        $('#' + lowPrice.gasPriceId + ' .gas_price').css('text-decoration', 'underline')
                    })
                }
            })
        }

        map = L.map('map').setView([coordinate.latitude, coordinate.longitude], 12)

        L.control.scale().addTo(map)

        L.tileLayer('http://a.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 20
        }).addTo(map)

        var group = L.featureGroup().addTo(map)

        var normal = L.icon({
            iconUrl: '{{ asset('img/marker/normal.png') }}',
        })
        var user = L.icon({
            iconUrl: '{{ asset('img/marker/user.png') }}',
        })
        var low = L.icon({
            iconUrl: '{{ asset('img/marker/low.png') }}',
        })

        map.locate({setView: true, maxZoom: 13})

        map.on('locationfound', function (e) {
            console.log('locationfound')
            var radius = e.accuracy

            L.marker(e.latlng).addTo(map)
        })

        map.on('moveend', function (e) {
            console.log('moveend')

            group.clearLayers()

            var mapBoundNorthEast = map.getBounds().getNorthEast()
            mapBoundNorthEast.lng = e.target.getCenter().lng
            var radius = mapBoundNorthEast.distanceTo(map.getCenter())
            radius = radius - (radius*0.45)

            coordinate.longitude = e.target.getCenter().lng
            coordinate.latitude = e.target.getCenter().lat
            coordinate.radius = radius

            getGasStations(e.target.getCenter().lat, e.target.getCenter().lng, radius)
        })

        $('#gas_types').dropdown({
            action: 'activate',
            onChange: function (values, text, items) {
                filters.gas_types = values
                getGasStations(coordinate.latitude, coordinate.longitude, coordinate.radius)
            }
        })

        $('#gas_services').dropdown({
            action: 'activate',
            onChange: function (values, text, items) {
                filters.gas_services = values
                getGasStations(coordinate.latitude, coordinate.longitude, coordinate.radius)
            }
        })

        $('#gas_stations_cities').dropdown({
            action: 'activate',
            onChange: function (values, text, items) {
                filters.gas_stations_cities = values
                getGasStations(coordinate.latitude, coordinate.longitude, coordinate.radius)
            }
        })

        $('#gas_stations_departments').dropdown({
            action: 'activate',
            onChange: function (values, text, items) {
                filters.gas_stations_departments = values
                getGasStations(coordinate.latitude, coordinate.longitude, coordinate.radius)
            }
        })

        $('#reset .button').click(function () {
            $('#gas_types').dropdown('clear')
            $('#gas_services').dropdown('clear')
            $('#gas_stations_cities').dropdown('clear')
            $('#gas_stations_departments').dropdown('clear')
            filters = {'gas_services': null, 'gas_types': null, 'gas_stations_cities': null, 'gas_stations_departments': null}
            getGasStations(coordinate.latitude, coordinate.longitude, coordinate.radius)
        })
    </script>
{% endblock %}
